* {
  padding: 0;
  margin: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 10% 66% 12% 12%;
  grid-template-rows: auto;
  align-items: center;
  border: 1px solid #d8d8d8;
}

.main-container h3 {
  margin-left: 4px;
}

.desc {
  margin-left: 14px;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  padding: 4px;
}

.status {
  align-self: center;
  background-color: rgb(109 117 125);
  margin: 0 2px;
  font-size: 12px;
  text-align: center;
  border-right: 1px solid #d8d8d8;
  color: #fff;
  border-radius: 4px;
}

.status-div {
  display: flex;
  justify-content: center;
}

.join-btn {
  align-self: center;
  padding: 6px;
  border-radius: 4px;
  border: 2px solid gray;
  color: gray;
}

.btn-div {
  display: flex;
  border-left: 1px solid #d8d8d8;
  height: 100%;
  align-items: center;
  justify-content: center;
}
