.mission-title {
  display: grid;
  grid-template-columns: 10.9% 65% 12.09% 8%;
  grid-template-rows: auto;
  align-items: center;
  border: 1px solid #d8d8d8;
  height: 48px;
  padding-left: 4px;
}

.main {
  margin: 20px 50px 20px;
}

.title-desc {
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 4px;
}

.title-status {
  border-right: 1px solid #d8d8d8;
  height: 48px;
  display: flex;
  align-items: center;
  margin-left: 4px;
}
