.nav-items {
  display: flex;
  margin-right: 15px;
}

.nav-items li {
  list-style: none;
  margin-right: 20px;
}

.nav-items li:last-child {
  border-left: 1px solid #000;
  margin-right: 40px;
  padding-left: 12px;
}
